
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-3 ">
			<h1>New restaurant</h1>
			<%= render 'forms', restaurant: @restaurant %>
			<%= link_to 'Back', restaurants_path %>
		</div>
	</div>
</div>